body {
  font-family: monospace;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}

canvas {
  border: 1px solid #bada55;
}

main ~ div {
  text-align: center;
}

footer {
  text-align: center;
}
